.form-container {
    display: flex; 
    justify-content: start;
    flex-direction: column; 
    width: 82px;
}

.user-Input {
    display: flex; 
    width: 125px;
    margin-top: 15px;
}

.submit-Button {
    margin-top: 15px; 
    width: 50px;
}

.table-container {
    font-family: arial, sans-serif; 
    border-collapse: collapse; 
    width: 50%; 
    margin: 0 auto;
    margin-top: 30px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.div-Points {
    margin: 0 auto;
    width: 195px;
    display: flex; 
    gap: 2px;
    justify-content: center;
}

.div-RB {
    display: flex;
    justify-content: center;
    gap: 2px;
}

.rebound-Container {
    width: 150px;
}

.div-FG {
    display: flex; 
    justify-content: center;
    gap: 2px;
    width: 150px;
    margin: 0 auto;
}

button {
    -webkit-appearance: none;
    border-radius: 0; 
}



